.container
{
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container h1
{
    background: #0062cc;
    color: white;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}

.container h1::after
{
    content: '';
    border-top: 40px solid #0062cc;
    border-right: 70px solid transparent;
    position: relative;
    left: 48px;
    top: 34px;
}

.row
{
    margin-top: 30px;
}

img
{
    width: 100%;
}

.product-bottom .fa
{
    color: #28a745;
    font-size: 10px;
}

.product-bottom h4
{
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h6
{
    font-size: 15px;
    padding-bottom: 10px;
}

.buy
{
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 0px;
}

.buy:hover
{
    background-color: #434444;
    color: #fff;
}

.cart
{
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 0px;
}

.cart:hover
{
    background-color: #434444;
    color: #fff;
}

.overlay
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.product-top:hover .overlay
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.overlay.fa
{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 5%;
}

.overlay .btn-secondary
{
    background: black !important;
    border: none !important;
    box-shadow: none !important;
}